@using UELWeb2Hasako.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<UELWeb2Hasako.Models.BLOG>
<!--Hepler de thu gon noi dung Blog-->
@helper Truncate(string input,int length) { 
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0,length)<text>...</text>
}
    }
@{
    ViewBag.Title = "BlogAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <h2>BlogAdmin</h2>
            <div class="container-fluid">
                <!--Them de khong loi-->
                <p>
                    @Html.ActionLink("Thêm Blog", "ThemMoiBlog")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().MaNV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Tieude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Noidung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Hinhanh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Ngaydang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Ngaychinhsua)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @**
                                @Html.DisplayFor(modelItem => item.MaNV)
                                *@
                                @Html.DisplayFor(modelItem=>item.NHANVIEN.TenNV)
                            </td>
                            <td width="150">
                                @Html.DisplayFor(modelItem => item.Tieude)
                            </td>
                            <td >
                                @*
                                 @Html.DisplayFor(modelItem => item.Noidung)
                                *@
                                @Truncate(item.Noidung,100)

                            </td>
                            <td>
                                @**
                                    @Html.DisplayFor(modelItem => item.Hinhanh)
                                *@
                                <img class="img-size-50 img-circle mr-3 " style="width:50px;height:50px" src="@Url.Content("~/images/"+item.Hinhanh)"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngaydang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngaychinhsua)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "SuaBlog", new { id = item.MaBlog }) |
                                @Html.ActionLink("Chi tiết", "ChiTietBlog", new { id = item.MaBlog }) |
                                @Html.ActionLink("Xóa", "XoaBlog", new { id = item.MaBlog })
                            </td>
                        </tr>
                    }

                </table>
                <!--CSS cho phân trang-->
                @*Tạo liên kết các trang*@
                Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
                <div class="pagination">
                   
                            @Html.PagedListPager(Model, page => Url.Action("BlogAdmin", new { page = page }))
                    </div>
                </div>
        <style>
            .pagination a {
                border: 1px solid #ddd; /* Gray */
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }
                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }



        </style>
       
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
       

    

